---
http_interactions:
- request:
    method: get
    uri: https://eclkc.ohs.acf.hhs.gov/eclkc-apis/locator/api/program?apikey=<ECLKC_API_TOKEN>&state=MD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"8061-zn8XvmronCt76q1EDrygtlRBkh4"
      x-varnish-cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"results":60,"documents":[{"addressLineOne":"7833 Walker Dr","addressLineTwo":"Ste
        610","pid":"10090","grantNumber":"03HP000227","delegateNumber":"200","type":2,"region":3,"name":"Lourie
        Center for Young Children''s Social and Emotional Wellness","granteeName":"Reginald
        S. Lourie Center for Infants & Young Children","city":"Greenbelt","state":"MD","zipFive":"20770","zipFour":"3233","phone":"(301)891-1914","registrationPhone":"(301)891-1900","fax":"(301)891-1960","email":"acard@louriecenter.org","website":"www.louriecenter.org","identifier":"reginald_s_lourie_center_for_infants_young_children_md","county":"Prince
        George''s County"},{"addressLineOne":"104 E Center Street","addressLineTwo":"","pid":"10485","grantNumber":"03HP000361","delegateNumber":"200","type":2,"region":3,"name":"Garrett
        County Community Action Committee, Inc.","granteeName":"Garrett County Community
        Action Committee, Inc","city":"Oakland","state":"MD","zipFive":"21550","zipFour":"1307","phone":"(301)334-9431
        - 6127","registrationPhone":"(301)334-9431 - 6127","fax":"(301)334-2075","email":"trbowma[...]
