---
http_interactions:
- request:
    method: get
    uri: https://eclkc.ohs.acf.hhs.gov/eclkc-apis/locator/api/center?apikey=<ECLKC_API_TOKEN>&state=MD
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
      etag:
      - W/"26c20-eLjQLZgj476AwUanof4aH6K6okA"
      x-varnish-cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"results":231,"documents":[{"addressLineOne":"4901 Quincy St","addressLineTwo":"","cid":"100223","grantNumber":"03HP000227","delegateNumber":"200","type":2,"longitude":-76.9345,"latitude":38.9365,"name":"Learning
        World Child Development Center","city":"Bladensburg","state":"MD","zipFive":"20710","zipFour":"2104","phone":"(301)
        277-0609","googleMapZoomLevel":10,"county":"Prince George''s County","programCounty":"Prince
        George''s County","program":{"addressLineOne":"7833 Walker Dr","addressLineTwo":"Ste
        610","name":"Lourie Center for Young Children''s Social and Emotional Wellness","city":"Greenbelt","state":"MD","zipFive":"20770","zipFour":"3233","phone":"(301)
        277-0609","registrationPhone":"(301)891-1900","identifier":"reginald_s_lourie_center_for_infants_young_children_md"}},{"addressLineOne":"5977
        Fisher Rd","addressLineTwo":"","cid":"100224","grantNumber":"03HP000227","delegateNumber":"200","type":2,"longitude":-76.9569,"latitude":38.8077,"name":"The
        Kids'' Corner Child Care Center","city":"Temple Hills","state":"MD","zipFive":"20748","zipFour":"5905","phone":"(301)
        505-5959","googleMapZoomLevel":10,"county":"Prince George''s County","programCounty":"Prince
        George''s County"[...]
