// Place all the styles related to the grantees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
  border: 1px black solid;
  padding: 1rem;
  margin: 1rem 0;
}

.timeline-index-container {
  border-left: 1px black solid;
}

.ipsum {
  margin: 0;
  font-style: italic;
}

nav.pagination {
  margin: 1em 0;
}
