// Place all the styles related to the grantees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.box {
  border: 1px black solid;
  padding: 1rem;
  margin: 1rem 0;
}

.box--split {
  & .grid-col:first-child {
    padding-right: 1rem;
  }

  & .grid-col:last-child {
    border-left: 1px black solid;
    padding-left: 1rem;
  }
}

.ipsum {
  margin: 0;
  font-style: italic;
}

nav.pagination {
  margin: 1em 0;
}

p.usa-hint {
  margin-top: 0;
}
