// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.task-metadata {
  margin-top: 0;
  color: slategray;
}

.next-steps-list {
  margin: 1em !important;
}

ul.pizza-tracker.pizza-tracker--large {
  font-size: 1em;
}

ul.pizza-tracker {
  list-style-type: none;
  font-size: 0.75em;
  padding: 0;

  li {
    display: inline-block;
    max-width: 6em;
    text-align: center;
    padding-right: 10px;
  }
  .tracker-past-activity {
    color: blue;
  }

  .tracker-today {
    color: green;
  }
}
