// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.task-metadata {
  margin-top: 0;
  color: slategray;
}

.next-steps-list {
  margin: 1em !important;
}
